<a href="https://colab.research.google.com/github/HelloWorld33333/Pork/blob/main/ds_cs_N424a_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/90080969-0f758d00-dd47-11ea-8191-fa12fd2054a7.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 4 / SPRINT 1 / Assignment 4*

---
# N414. 신경망과 학습에 관련된 파라미터 튜닝 (HyperTune)



## 실전 연습과제

다음 통신사 고객 이탈(Churn) 데이터셋에서 정확도를 조정해보는 파라미터 학습을 진행해보겠습니다 : [다운로드](https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/telecom/TelcomCustomer.csv)

## 진행방식

- 데이터를 다운로드 받고 읽어옴(load)
- 데이터 클리닝을 진행 (필수는 아니지만 추천)
- Keras MLP model을 만들고, 학습 진행
- Hyperparameter 튜닝 진행:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (optimizer에 따라서 해당되면)
 - momentum (optimizer에 따라서 해당되면)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer
 
하이퍼 파라미터의 초기 패스를 위해 그리드 검색 및 교차 검증을 사용할 수 있어야 합니다. 

실제 큰 통신회사의 데이터이기 때문에 최대한 정확하게 파악해 보십시오!

# 데이터 전처리

### 문항 1) 내 로컬 파일을 colab에 업로드하기

충분한 GPU를 가지고 있다면, 쉽게 문제를 해결할 수 있겠지만, 제한된 자원에서 충분한 GPU를 제공받지 못할 지 모릅니다. 이럴 때에는 딥러닝 커뮤니티에 물어볼 수도 있겠지만, 가성비 좋은 Colab의 GPU를 이용해서 실제 GPU사용량을 예측할 수 있다면 좋겠습니다. 모델 파라미터의 개수와 batch size 등이 GPU메모리에 큰 영향을 미치니 여러가지로 활용해보시기 바랍니다.

Colab의 GPU를 이용하기 위해서, 로컬로 진행하시던 분들도 이번에는 colab을 사용해봅시다. 

- 구글에서 colab의 라이브러리를 찾아서 업로드하세요. 
이후에 Pandas를 이용하여 데이터프레임으로 저장합니다.

colab을 사용하기위해서는 colab 라이브러리들을 잘 활용할 수 있으면 좋습니다. colab 기본형의 GPU의 사용제한 때문에 하지 못하는 일이 있다면, colab pro를 사용할 수 있습니다. 코드스테이츠에서 제공하는 colab pro 설치 가이드가 있지만, 스스로 문제를 해결해보시면 좋습니다. 그러나 도움이 필요하시면 HelpDesk에 문의해주시기 바랍니다.

### 로컬 파일을 업로드하는 코드를 입력하세요.

In [2]:
# 로컬 파일 업로드
from google.colab import files
uploaded = files.upload()


# 데이터 불러오기
import pandas as pd
df = pd.read_csv('TelcomCustomer.csv')

Saving TelcomCustomer.csv to TelcomCustomer.csv

In [3]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

### 문항 2) 결측치가 있는지 isnull()함수를 이용하여 확인하고 결과값을 입력하시오.

In [4]:
# 결측치 확인
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### 문항 3) dtypes를 이용해서 데이터 타입을 확인하고 아래 문제에 답하시오.

TotalCharges와 같이 중요한 타켓값이 숫자로 되어있어야 하는데, object로 되어있는 것을 확인하고 숫자형으로 바꿔주세요. <br>
숫자형이 아닌 결측치의 개수는 몇개인가요?

In [5]:
# 데이터 타입 확인, TotalCharges 숫자형으로 변환, 결측치 확인, 결측치 드랍
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [6]:
import numpy as np

df['TotalCharges'].value_counts()

df['TotalCharges'].replace(' ', np.nan, inplace=True)
df.dropna(subset=['TotalCharges'], inplace=True)

df['TotalCharges'].isnull().sum()

0

In [7]:
# customerID 드랍
df = df.drop(columns='customerID')

In [8]:
# 'No internet service' 로 표현되어 있는 것을 'No'로 변경
no_internet_feats = [ 'TechSupport','OnlineBackup', 'DeviceProtection','StreamingTV',
                 'OnlineSecurity','StreamingMovies']

for i in no_internet_feats:
    df[i] = df[i].replace({'No internet service':'No'})

# 'No phone service' 로 표현되어 있는 것을 'No'로 변경
df['MultipleLines']=df['MultipleLines'].replace({'No phone service':'No'})

# 0으로 표기된 것을 'No'로, 1로 표기된 것을 'Yes'로 변경
df['SeniorCitizen']=df['SeniorCitizen'].replace({0:'No',
                                                 1:'Yes'})

In [9]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.3.0-py2.py3-none-any.whl (82 kB)
     |████████████████████████████████| 82 kB 399 kB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.3.0

In [10]:
df.head(3)

   gender SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female            No     Yes  ...          29.85         29.85    No
1    Male            No      No  ...          56.95        1889.5    No
2    Male            No      No  ...          53.85        108.15   Yes

[3 rows x 20 columns]

In [11]:
# 원핫 인코딩
from category_encoders import OrdinalEncoder

encoder = OrdinalEncoder()
df_encoded = encoder.fit_transform(df)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [12]:
df_encoded.head()

   gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
0       1              1        1  ...           29.85             1      1
1       2              1        2  ...           56.95             2      1
2       2              1        2  ...           53.85             3      2
3       2              1        2  ...           42.30             4      1
4       1              1        2  ...           70.70             5      2

[5 rows x 20 columns]

In [13]:
# 타겟을 0과 1로 바꿔주기
df_encoded['Churn'] = df_encoded['Churn'].replace({1: 0, 2: 1})
df_encoded['Churn'].value_counts()

0    5163
1    1869
Name: Churn, dtype: int64

In [14]:
df_encoded.shape

(7032, 20)

### 문항 4) 훈련집합과 테스트 집합을 나누는 코드를 만들고, 해당 코드를 입력하시오.

- random_state=1
- test_size=0.25

In [15]:
from sklearn.model_selection import train_test_split

# 훈련, 테스트 셋을 나누기
#X_train, X_test, y_train, y_test = train_test_split(df_encoded[:, 'gender':'Churn'], df_encoded['Churn'], random_state=1, test_size=0.25)

In [16]:
# features 와 target 을 분리
target = 'Churn'
features = df_encoded.drop(columns=[target]).columns

train, test = train_test_split(df_encoded, train_size=0.75, test_size=0.25, random_state=1)

X_train = train[features]
X_test = test[features]

y_train = train[target]
y_test = test[target]

In [17]:
(train.shape, test.shape)

((5274, 20), (1758, 20))

### 문항 5) sklearn.preprocessing.StandardScaler를 이용하여 정규화를 진행하시고, 문제를 보고 빈칸에 알맞은 단어를 넣으시오.

`X_train_scaled = scaler.##### Your Code Here #####`

In [18]:
# 정규화
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [19]:
X_train_scaled[0]

array([-1.00952584, -0.44660293, -1.03866899, -0.65370807,  1.57743883,
        0.32362629,  1.15393457,  0.17745038, -0.63367288, -1.36841113,
        1.36726855, -0.64691929,  1.25757616,  1.26869981,  1.57728015,
       -0.82893915,  0.60478129,  1.33038512,  0.60283961])

# 모델링

## 기본 모델

In [20]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten
import keras
import tensorflow as tf
import IPython
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [21]:
!pip install -U keras-tuner
import kerastuner as kt

Collecting keras-tuner
  Downloading keras_tuner-1.1.0-py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 3.9 MB/s
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.7.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (5.5.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.4.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.6)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.42.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.35.0)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.37.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.3.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.0)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.12.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.8.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.6.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.1.1)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.1.0 kt-legacy-1.0.4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.

### 문제 6. np.unique를 이용해서 y_train의 Class 의 개수를 확인하고 입력하시오.

In [22]:
# Class의 개수 확인
y_train.unique()

array([0, 1])

In [23]:
# 간단한 모델 만들어서 성능을 보기 !
tf.random.set_seed(7)

model2 = Sequential()
model2.add(Dense(64, activation='relu'))
model2.add(Dense(64, activation='relu'))
model2.add(Dense(1, activation='sigmoid')) # ___분류이므로 노드수 1, 활성화 함수로는 시그모이드(sigmoid)

model2.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

results = model2.fit(X_train_scaled, y_train, epochs=10, validation_data=(X_test_scaled,y_test))

Epoch 1/10
165/165 [==============================] - 4s 12ms/step - loss: 0.4695 - accuracy: 0.7637 - val_loss: 0.4219 - val_accuracy: 0.7941
Epoch 2/10
165/165 [==============================] - 2s 9ms/step - loss: 0.4235 - accuracy: 0.7996 - val_loss: 0.4193 - val_accuracy: 0.7935
Epoch 3/10
165/165 [==============================] - 2s 10ms/step - loss: 0.4151 - accuracy: 0.8028 - val_loss: 0.4188 - val_accuracy: 0.7969
Epoch 4/10
165/165 [==============================] - 2s 10ms/step - loss: 0.4098 - accuracy: 0.8085 - val_loss: 0.4211 - val_accuracy: 0.7986
Epoch 5/10
165/165 [==============================] - 1s 9ms/step - loss: 0.4053 - accuracy: 0.8130 - val_loss: 0.4231 - val_accuracy: 0.7929
Epoch 6/10
165/165 [==============================] - 2s 10ms/step - loss: 0.4011 - accuracy: 0.8096 - val_loss: 0.4229 - val_accuracy: 0.7918
Epoch 7/10
165/165 [==============================] - 2s 9ms/step - loss: 0.3997 - accuracy: 0.8125 - val_loss: 0.4256 - val_accuracy: 0.7895
Epoch 8/10
165/165 [==============================] - 2s 10ms/step - loss: 0.3934 - accuracy: 0.8174 - val_loss: 0.4258 - val_accuracy: 0.7907
Epoch 9/10
165/165 [==============================] - 2s 10ms/step - loss: 0.3909 - accuracy: 0.8203 - val_loss: 0.4279 - val_accuracy: 0.7918
Epoch 10/10
165/165 [==============================] - 1s 9ms/step - loss: 0.3877 - accuracy: 0.8163 - val_loss: 0.4250 - val_accuracy: 0.7895

In [24]:
# 테스트셋 사용해서 결과 보기
model2.evaluate(X_test_scaled,  y_test, verbose=2)

55/55 - 0s - loss: 0.4250 - accuracy: 0.7895 - 280ms/epoch - 5ms/step

[0.42501792311668396, 0.7895335555076599]

파라미터 튜닝을 하기전에 간단히 임의로 넣어본 결과도 꽤 좋습니다. 이젠 GridSearchCV 를 사용해서 튜닝을 해보겠습니다.

## GridSearchCV 사용

In [25]:
# 모델 만들기
tf.random.set_seed(7)

def model_builder(nodes=16, activation='relu'):

  model = Sequential()
  model.add(Dense(nodes, activation=activation))
  model.add(Dense(nodes, activation=activation))
  model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

  model.compile(optimizer='adam', 
                loss='binary_crossentropy', 
                metrics=['accuracy'])

  return model

# keras.wrapper를 활용하여 분류기를 만듭니다
model = KerasClassifier(build_fn=model_builder, verbose=0)

# GridSearch
batch_size = [64, 128, 256]
epochs = [10, 20, 30]
nodes = [64, 128, 256]
activation = ['relu', 'sigmoid']
param_grid = dict(batch_size=batch_size, epochs=epochs, nodes=nodes, activation=activation)


# GridSearch CV를 만들기
grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=3, verbose=1, n_jobs=-1)
grid_result = grid.fit(X_train_scaled, y_train)

Fitting 3 folds for each of 54 candidates, totalling 162 fits

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.

In [26]:
# 최적의 결과값을 낸 파라미터를 출력합니다
print(f"Best: {grid_result.best_score_} using {grid_result.best_params_}")
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print(f"Means: {mean}, Stdev: {stdev} with: {param}")

Best: 0.8031854430834452 using {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 30, 'nodes': 256}
Means: 0.7952218254407247, Stdev: 0.004430541895143975 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 10, 'nodes': 64}
Means: 0.7938945889472961, Stdev: 0.006767760638259018 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 10, 'nodes': 128}
Means: 0.7895335555076599, Stdev: 0.004713615328474613 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 10, 'nodes': 256}
Means: 0.7897231777509054, Stdev: 0.008742617950965627 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 20, 'nodes': 64}
Means: 0.7859309713045756, Stdev: 0.0043897685275432075 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 20, 'nodes': 128}
Means: 0.7681076924006144, Stdev: 0.011539730772540365 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 20, 'nodes': 256}
Means: 0.7806219061215719, Stdev: 0.008742617950965627 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 30, 'nodes': 64}
Means: 0.7694349686304728, Stdev: 0.012369736570663328 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 30, 'nodes': 128}
Means: 0.7631778518358866, Stdev: 0.005675613486810439 with: {'activation': 'relu', 'batch_size': 64, 'epochs': 30, 'nodes': 256}
Means: 0.7952218453089396, Stdev: 0.008513449435230323 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 10, 'nodes': 64}
Means: 0.7986348072687784, Stdev: 0.0012287914199756252 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 10, 'nodes': 128}
Means: 0.7940841913223267, Stdev: 0.0076739236674518655 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 10, 'nodes': 256}
Means: 0.7946530183156332, Stdev: 0.006248503742413363 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 20, 'nodes': 64}
Means: 0.788395901521047, Stdev: 0.009065610496363622 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 20, 'nodes': 128}
Means: 0.7800530791282654, Stdev: 0.005971934330021716 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 20, 'nodes': 256}
Means: 0.7919984857241312, Stdev: 0.008889427399739844 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'nodes': 64}
Means: 0.7743648091952006, Stdev: 0.004922534610777427 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'nodes': 128}
Means: 0.7713310519854227, Stdev: 0.007150044435779814 with: {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'nodes': 256}
Means: 0.7950322230656942, Stdev: 0.003950069946808962 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 10, 'nodes': 64}
Means: 0.796549121538798, Stdev: 0.01000806630227889 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 10, 'nodes': 128}
Means: 0.797307550907135, Stdev: 0.0037826839735696097 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 10, 'nodes': 256}
Means: 0.7978763580322266, Stdev: 0.005807123432618695 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 20, 'nodes': 64}
Means: 0.7918088833491007, Stdev: 0.004644461062927403 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 20, 'nodes': 128}
Means: 0.7874478697776794, Stdev: 0.004698330066406599 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 20, 'nodes': 256}
Means: 0.7946530183156332, Stdev: 0.005275101665468864 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 30, 'nodes': 64}
Means: 0.788395901521047, Stdev: 0.009529629411308669 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 30, 'nodes': 128}
Means: 0.7722791234652201, Stdev: 0.007406904687906285 with: {'activation': 'relu', 'batch_size': 256, 'epochs': 30, 'nodes': 256}
Means: 0.7984452048937479, Stdev: 0.002094300432079147 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 10, 'nodes': 64}
Means: 0.8001517057418823, Stdev: 0.004558518841241276 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 10, 'nodes': 128}
Means: 0.8014789422353109, Stdev: 0.008372938126848289 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 10, 'nodes': 256}
Means: 0.7974971532821655, Stdev: 0.011156401716212553 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 20, 'nodes': 64}
Means: 0.8003412882486979, Stdev: 0.007254881971619157 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 20, 'nodes': 128}
Means: 0.796928346157074, Stdev: 0.005707211877720107 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 20, 'nodes': 256}
Means: 0.8014789422353109, Stdev: 0.003968231834885048 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 30, 'nodes': 64}
Means: 0.8028062184651693, Stdev: 0.006590120627847867 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 30, 'nodes': 128}
Means: 0.8031854430834452, Stdev: 0.006073438231834111 with: {'activation': 'sigmoid', 'batch_size': 64, 'epochs': 30, 'nodes': 256}
Means: 0.7906712094942728, Stdev: 0.005800947152802675 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 10, 'nodes': 64}
Means: 0.7921881079673767, Stdev: 0.008428565906735882 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 10, 'nodes': 128}
Means: 0.7916192611058553, Stdev: 0.007831574407116121 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 10, 'nodes': 256}
Means: 0.8020477890968323, Stdev: 0.004826657091467584 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 20, 'nodes': 64}
Means: 0.7997724811236063, Stdev: 0.006435542788623446 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 20, 'nodes': 128}
Means: 0.8012893597284952, Stdev: 0.005732343495866289 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 20, 'nodes': 256}
Means: 0.7997724811236063, Stdev: 0.007299343677043774 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 30, 'nodes': 64}
Means: 0.8020477890968323, Stdev: 0.0060911528375532315 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 30, 'nodes': 128}
Means: 0.7921881079673767, Stdev: 0.0023376717627970733 with: {'activation': 'sigmoid', 'batch_size': 128, 'epochs': 30, 'nodes': 256}
Means: 0.7737959822018942, Stdev: 0.01421945663822873 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 10, 'nodes': 64}
Means: 0.7844141125679016, Stdev: 0.006746464862685135 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 10, 'nodes': 128}
Means: 0.7912400563557943, Stdev: 0.007299343677043774 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 10, 'nodes': 256}
Means: 0.7944633960723877, Stdev: 0.0073484329714991236 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 20, 'nodes': 64}
Means: 0.798065980275472, Stdev: 0.00650224687856175 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 20, 'nodes': 128}
Means: 0.797686775525411, Stdev: 0.00785908120482983 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 20, 'nodes': 256}
Means: 0.8007205128669739, Stdev: 0.00441425862525271 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 30, 'nodes': 64}
Means: 0.799203634262085, Stdev: 0.0042567379926321015 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 30, 'nodes': 128}
Means: 0.8031854430834452, Stdev: 0.006385093713930384 with: {'activation': 'sigmoid', 'batch_size': 256, 'epochs': 30, 'nodes': 256}

### 문항 7) 최적의 결과를 낸 파라미터와 결과값을 입력해주세요.

- batch_size
- epochs
- nodes
- activation

- 정답은 `[100, 100, 100], activation_name` 형태로 입력해주세요.

다음으로 Keras Tuner 를 사용한 파라미터 튜닝도 해보겠습니다.

## Keras Tuner 사용

In [27]:
# 모델 만들기

def model_builder(hp):

  model = Sequential()

  # Dense layer에서 노드 수를 조정(32-512)
  hp_units = hp.Int('units', min_value = 32, max_value = 512, step = 32)

  model.add(Dense(units = hp_units, activation='relu'))
  model.add(Dense(units = hp_units, activation='relu'))

  model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

  # Optimizer의 학습률(learning rate)을 조정[0.01, 0.001, 0.0001]합니다. 
  hp_learning_rate = hp.Choice('learning_rate', values = [1e-2, 1e-3, 1e-4])

  # 컴파일 단계, 옵티마이저와 손실함수, 측정지표를 연결해서 계산 그래프를 구성함
  model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate = hp_learning_rate), 
                loss=keras.losses.BinaryCrossentropy(from_logits = True), 
                metrics=['accuracy'])

  return model

In [28]:
# 튜너를 인스턴스화하고 하이퍼 튜닝을 수행

tuner = kt.Hyperband(model_builder,
                     objective = 'val_accuracy', 
                     max_epochs = 30, 
                     factor = 3,
                     directory = 'my_dir',
                     project_name = 'intro_to_kt')

In [29]:
# callback 정의 : 하이퍼 파라미터 검색을 실행하기 전에 모든 교육 단계가 끝날 때마다 교육 출력을 지우도록 콜백을 정의합니다.

class ClearTrainingOutput(tf.keras.callbacks.Callback):
  def on_train_end(*args, **kwargs):
    IPython.display.clear_output(wait = True)

In [30]:
tuner.search(X_train_scaled, y_train, epochs = 30, batch_size=50, validation_data = (X_test_scaled,y_test), callbacks = [ClearTrainingOutput()])

best_hps = tuner.get_best_hyperparameters(num_trials = 1)[0]

print(f"""
최적화된 Dense 노드 수 : {best_hps.get('units')} 
최적화된 Learning Rate : {best_hps.get('learning_rate')} 
""")

Trial 58 Complete [00h 00m 03s]
val_accuracy: 0.8031854629516602

Best val_accuracy So Far: 0.806598424911499
Total elapsed time: 00h 03m 33s
INFO:tensorflow:Oracle triggered exit

최적화된 Dense 노드 수 : 224
최적화된 Learning Rate : 0.01

### 문항 8) Keras 튜너를 활용하여 얻어낸 파라미터를 입력하시오. 

- 정답은 `[100, 100]` 형태로 입력하시오.

In [32]:
from tensorflow.keras import regularizers

tf.random.set_seed(1442)
initializer = tf.keras.initializers.HeNormal()

model = Sequential()

model.add(Dense(best_hps.get('units'), 
                activation='relu', kernel_initializer=initializer,          
                kernel_regularizer=regularizers.l2(0.01),    # L2 norm regularization
                activity_regularizer=regularizers.l1(0.01))) # L1 norm regularization))
model.add(Dense(best_hps.get('units'),
                activation='relu', kernel_initializer=initializer,            
                kernel_regularizer=regularizers.l2(0.01),    # L2 norm regularization
                activity_regularizer=regularizers.l1(0.01)))
model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate = best_hps.get('learning_rate')), 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

results = model.fit(X_train_scaled, y_train, epochs=2, batch_size=50, validation_data=(X_test_scaled,y_test))

Epoch 1/2
106/106 [==============================] - 3s 17ms/step - loss: 2.6226 - accuracy: 0.7283 - val_loss: 0.5335 - val_accuracy: 0.7361
Epoch 2/2
106/106 [==============================] - 1s 12ms/step - loss: 0.5015 - accuracy: 0.7397 - val_loss: 0.4850 - val_accuracy: 0.7634

In [33]:
# 테스트셋 사용해서 결과 보기
model.evaluate(X_test_scaled,  y_test, verbose=2)

55/55 - 0s - loss: 0.4850 - accuracy: 0.7634 - 363ms/epoch - 7ms/step

[0.48499980568885803, 0.7633674740791321]